@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* HEADER */
header a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}

header a:hover {
	color: #fca311;
}
h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: #e7e5df;
	color: #1c0e33;
	margin-top: 0px;
	padding: 10px;
	transition-duration: 0.5s;
}

h1:hover {
	font-size: 33px;
}

nav li {
	display: inline;
	margin: 10px;
	list-style: none;
}

/* BODY */
body {
	font-family: 'Montserrat', sans-serif;
	background: url('./img/pattern.png');
	background-attachment: fixed;
	margin: 0px;
}

article {
	min-height: 600px;
	width: 70%;
	margin: 0px auto;
	padding: 1px 20px 20px;
	box-shadow: 0px 0px 100px black;
	color: black;
	background: white;
}
article hr {
	overflow: visible;
	width: 80%;
	margin-top: 50px;
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

article hr:before {
	display: block;
	content: '';
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

.topic {
	color: black;
	font-weight: bolder;
	background: #fca311;
	text-align: center;
}

.day-title {
	color: #ffffff;
	text-align: center;
	background: #14213d;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.day-subject {
	font-size: large;
	margin-bottom: -5px;
}

.day-content li {
	margin-top: 5px;
}

.day-links {
	text-align: center;
}
.day-links a {
	text-decoration: none;
	background-color: #1e91d6;
	margin-right: 10px;
	padding: 5px 10px;
	color: white;
	font-weight: bolder;
}

#avatar {
	width: 100px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#calendario,
#cronograma {
	width: 100%;
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#shortcuts img {
	width: 80px;
	height: 25px;
}

#shortcuts a {
	vertical-align: middle;
	margin: auto;
	text-decoration: none;
	color: black;
}

.resource-title {
	text-align: center;
}

.resource-title img {
	margin-top: -15px;
	height: 60px;
}

.resource-content ul li a {
	color: black;
	text-decoration: none;
}

.resume-ul p {
	font-weight: bold;
	color: #70877f;
	margin-top: 2px;
	padding-left: 30px;
	font-size: 14px;
}

.resume-ul .job-description {
	color: black;
	margin-top: -8px;
	padding-left: 10px;
	font-size: 15px;
	font-weight: bold;
}

.resume-ul li {
	font-weight: bold;
}

.width-600px {
	max-width: 600px;
}

/* FOOTER */
footer {
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
