/* 
ESTRUCTURA HTML

--CONTAINER ----Abuelo
------PHOTO ----Padre
------------HIJO1
--------------------NIETO1
-----------------------------A
------------HIJO2
--------------------NIETO2
-----------------------------BISNIETO1
-------------------------------------------A
---------------------------------------------------IMG - ARROW
---------------------------------------------------P
--------------------NIETO3
-----------------------------BISNIETO2
-------------------------------------------A
---------------------------------------------------IMG - ARROW
-------------------------------------------A
 ---------------------------------------------------IMG - MORE
*/
*
{
	font-family: Arial, Helvetica, sans-serif;
}

/* desde aqui el codigo de la barra */

.barra {
    /* vertical-align: middle; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.barra .sub-barra{
    /* vertical-align: middle; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.pint {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: white;    
}

.pint:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: #e7e7e7;
    cursor: pointer;   
}

.logo_pint {
    width: 20px;
    height: 20px;
}

.inicio {
	/* border: 1px solid #f2f2f2; */
    /* line-height: 27px; */
    background-color: black;
    height: 45px;
    width: 80px;
/* 	padding: 0 16px;
	margin: 29px 4px; */
	font-size: 16px;
    color: white;
    border-radius: 25px;
    border-style: none;
    /* transition: all 1s; */
}

.inicio:hover {
    cursor: pointer;
}

.siguiendo {
    background-color: white;
    height: 45px;
    width: 100px;  
    font-size: 16px;
    /* color: white; */
    border-radius: 25px;
    border-style: none;  
}

.siguiendo:hover {
    background-color: #e7e7e7;
    height: 45px;
    width: 100px;  
    font-size: 16px;
    /* color: white; */
    border-radius: 25px;
    border-style: none;  
    cursor: pointer;
}

.notif {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
}

.notif:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.logo_notif {
    width: 20px;
    height: 20px;
}

.mensaje {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
}

.mensaje:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.logo_mensaje {
    width: 20px;
    height: 20px;
}

.ident {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    font-size: 16px;
    background-color: white;
}

.ident:hover {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    font-size: 16px;
    background-color: #e7e7e7;
    cursor: pointer;
}

.flecha {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
}

.flecha:hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.logo_flecha {
    width: 10px;
    height: 10px;
    align-items: center;
}

input {
	margin-top: 7px;
    width: 75%;
    height: 45px;
    border-radius: 25px;
    padding-left: 20px;
    border-style: none;
    background-color: #e7e7e7;
    font-size: 16px;
}

/* hasta aqui el codigo de la barra */

.container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container .photo {
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	width: 236px;
	height: 400px;
	background-image: url(https://images.unsplash.com/photo-1601314147957-7a22fd73a8bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container .photo:hover{
	/*filter: brightness(60%);*/
	/* backdrop-filter: brightness(60%); */
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
	/*cursor:zoom-in;*/
}

.container .photo.diferente-1{
	background-image: url(https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.container .photo.diferente-1:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}

.container .photo.diferente-2{
	background-image: url(https://images.unsplash.com/photo-1599030048493-c1a9e7ba1ed7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1554&q=80);
}
.container .photo.diferente-2:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}

.container .photo.diferente-3{
	background-image: url(https://images.unsplash.com/photo-1584651766658-1b7b47a2cb79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=404&q=80);
}
.container .photo.diferente-3:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-4{
	background-image: url(https://images.unsplash.com/photo-1591079082851-277bef34763a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.container .photo.diferente-4:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-5{
	background-image: url(https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.container .photo.diferente-5:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}

.container .photo.diferente-6{
	background-image: url(https://images.unsplash.com/photo-1569457689141-1ff060053d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.container .photo.diferente-6:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-7{
	background-image: url(https://images.unsplash.com/photo-1601148338967-6b443e217bf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.container .photo.diferente-7:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container  .photo.diferente-8{
	background-image: url(https://images.unsplash.com/photo-1601314264998-63f3098fbf6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.container .photo.diferente-8:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-9{
	background-image: url(https://images.unsplash.com/photo-1601380192019-ad108f9c14ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=665&q=80);
}
.container .photo.diferente-9:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-10{
	background-image: url(https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.container .photo.diferente-10:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-11{
	background-image: url(https://images.unsplash.com/photo-1589069788083-b3f5bc93cfe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=337&q=80);
}
.container .photo.diferente-11:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-12{
	background-image: url(https://images.unsplash.com/photo-1522718086656-151f9e728855?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.container .photo.diferente-12:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-13{
	background-image: url(https://images.unsplash.com/photo-1600957480440-bbd552e62734?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.container .photo.diferente-13:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
.container .photo.diferente-14{
	background-image: url(https://images.unsplash.com/photo-1601210668663-20c0239bd77d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80);
}
.container .photo.diferente-14:hover{
	opacity: background 90%;
	z-index: 1;
	transition: filter 0.5s;
}
/* EL HIJO 1 Y EL HIJO 2 SON LOS BOTONES DE GUARDAR Y COMPARTIR DE ABAJO */

/* EL CODIGO DE BAJO CODIGO ELIMINA AL HIJO1 Y EL HIJO 2 CUANDO EL 
MOUSE NO PASA ARRIBA DE CAJA */
.container .photo .hijo1{
	display: none;
}
.container .photo .hijo2{
	display: none;
}
/********************************/
/* FIN EL CÓDIGO DE ARRIBA  */
/********************************/


/* EL CODIGO DE BAJO CODIGO ACTIVA AL HIJO1 Y EL HIJO 2 CUANDO EL 
MOUSE  PASA ARRIBA DE CAJA */
.container .photo:hover .hijo1{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 15px;	
}

.container .photo:hover .hijo2{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20px;
}
/********************************/
/* FIN EL CÓDIGO DE ARRIBA  */
/********************************/


/* DISPLAY FLEX EL NIETO 2, PARA DISTRUBUIR LOS ICONOS DE ABAJO */
.container .photo .hijo2 .nieto2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/********************************/
/* FIN EL CÓDIGO DE ARRIBA  */
/********************************/

/* BOTON GUARDAR ESTILO */
.container .photo .hijo1 .nieto1 a{
	font-family: 15px;
	padding: 10px 20px;
	color: white;
	background: crimson;
	text-decoration: none;
	border-radius: 20px;
	transition: background 1s;
}
/* BOTON GUARDAR ESTILO  CUANDO EL MOUSE PASA POR ARRIBA*/
.container .photo .hijo1 .nieto1 a:hover{
	background: rgb(140, 15, 40);
}
/********************************/
/* FIN EL CÓDIGO DE ARRIBA  */
/********************************/


/* BOTONES LINK IZQUIERDA */
.container .photo .hijo2 .bisnieto1 a{
	display: flex;
	flex-direction: row;
	padding: 9px 10px;
	border-radius: 20px;
	color: white;
	background: white;
	opacity: 90%;
	text-decoration: none;
}

/* BOTON LINK IZQUIERDA PASAR POR ARRIBA */
.container .photo .hijo2 .bisnieto1 a:hover{
	opacity: 100%;
}

/* BOTON LINK IZQUIERDA FLECHA*/
.container .photo .hijo2 .bisnieto1 a img{
	width: 15px;
	height: auto;
}

/* BOTON LINK IZQUIERDA PINT.NET*/
.container .photo .hijo2 .bisnieto1 a p{
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-weight: 700;
	margin-left: 7px;
	color: black;
}
/********************************/
/* FIN BOTONES ABAJO IZQUIERDA  */
/********************************/


/* BOTONES EXPORTAR Y COMPARTIR  DERECHA */


.container .photo .hijo2 .bisnieto2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.container .photo .hijo2 .bisnieto2 a{
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	padding: 10px 10px;
	color: white;
	background: white;
	opacity: 80%;
	text-decoration: none;
	margin-left: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;

}

.container .photo .hijo2 .bisnieto2 a .icon-shared{
	width: 15px;
	height: auto;
}
.container .photo .hijo2 .bisnieto2 a .icon-more{
	width: 15px;
	height: auto;
}

/********************************/
/* FIN BOTONES ABAJO IZQUIERDA  */
/********************************/

/* img {
	border-radius: 20px;
	max-width: 100%;
	background-color: rgb(216, 213, 213);
} */

@media (max-width: 500px){
		
	.barra {
		/* vertical-align: middle; */
		display: inline;
		/* justify-content: center; */
		align-items: center;
	}

} 